body {
  margin: 0;
  padding-top: 54px;
  height:100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* #app-container{
  max-width: 100%;
  max-height: 100%;
} */
.homepage {
  margin: auto;
  padding-top: 3%;
  margin-bottom:10%;
  width: 80%;
  padding-bottom:3%;
  height: 100%;
}
.homepage p{
  padding-top: 3%;
  text-align: justify;
  padding-bottom: 3%;
}

#hp1, #hp2, #hp3, #hp4 {
  background-color: white;
  padding: 15px;
  font-size: 24px;
  margin: auto;
  border-radius:10px;
  text-align: center;
}
.single-document{
  margin:'auto';
  padding-top: 3%;
  margin-bottom: 3%;
  width: 80%;
  padding-bottom:3%;
}
.document-description{
 background-color: white;
}
.document-description div{
  margin-left: 5%;
}

.document-description p{
  font-size: 18px;
}

.document-description h4{
  margin-left: 5%;
  padding-top: 5%;
  padding-bottom: 3%;
}
.status{
  margin-left: 5%;
  padding-bottom: 2%;
}
.document-files{
  background-color: white;
  padding-bottom: 3%;
}
.attachements{
  margin-left: 5%;
}
.attachements li{
  padding: 1%;
}
.file-upload{
  margin-top: 3%;
}

.document-status{
  border: solid 1 px grey;
  padding: 10px;
  margin: 2%;
  border-radius: 7px;
}
#saved{
  background-color: lightgray;
  color: white;
}

#submitted{
  background-color: lightskyblue;
  color: white;
}
#notsubmitted{
  background-color: lightcoral;
  color: white;
}
#confirmed{
  background-color: lightseagreen;
  color: white;
}
#not-confirmed{
  background-color: lightcoral;
  color: white;
}
#rejected{
  background-color: red;
  color: white;
}

.new-document{
  padding-top: 3%;
  margin-bottom: 3%;
  width: 80%;
  padding-bottom:3%;
}
.new-document h4{
  max-width:60%;
  margin: auto;
}
#new-document{
  max-width:60%;
  margin: auto;
}
.user-groups{
  margin-top:2%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: white;
}

.user-groups h5 {
  padding-left: 9%;
}

.user-groups ul {
  padding-left: 20%;
}
.user-description{
  background-color: white;
  padding-top:5%;
 }
 .user-description div{
   margin-left: 5%;
 }
 
 .user-description p{
   font-size: 18px;
 }
 .add-group{
  background-color: white;
  padding-left:2%;
 }
.single-user{
  margin:'auto';
  padding-top: 3%;
  margin-bottom:'10%';
  width: '80%';
  padding-bottom:3%;
}
.user_document_list{
  overflow-x:auto;
  background-color: white;
  padding-top: 3%;
  margin-top: 3%;
  margin-bottom:3%;
  width: '80%';
  padding-bottom:3%;
}
.item-list{
  background-color: white;
  padding-top: 3%;
  overflow-x:auto;
  margin-top: 3%;
  margin-bottom:3%;
  width: '80%';
  padding-bottom:3%;
}
#customFile .custom-file-control:lang(en)::after {
  content: "Pasirinkti...";
}
.custom-file-input ~ .custom-file-label::after {
  content: "Pasirinkti";
}
.user_form input{
  margin: 0 0 20px 0;
}
.new-form{
  padding-top: 3%;
  margin-top: 3%;
  margin-bottom:3%;
  width: 80%;
  padding-bottom:3%;
}
#type_form{
  max-width:60%;
  margin: auto;
}
.user_form{
  margin-top: 2%;
  margin-bottom: 10%;
  padding: 10px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#back-to-list{
  background-color: white;
  padding: 7px;
  font-size: 16px;
}

.footer{
  /* position: fixed; */
  /* position:absolute; */
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  height: 50px;
}
/* .container {
  min-height:100%;
  /* position:relative; */

.login-container {
  max-width: 50%;
  margin: 0 auto;
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
}

.login-form-button {
  width: 80%;
}

.signup-container {
  background-color: white;
  padding-top: 3%;
  margin-top: 3%;
  margin-bottom:3%;
  width: 80%;
  padding-bottom:3%;
}
.signup-container h4{
  text-align: center;
  margin-bottom: 3%;
}
#signup-form{
  margin: auto;
  width: 60%;
}

.signup-form-button {
  width: 100%;
  margin-top: 15px;
}
.cards a{
  color: white;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}


